.btn{
  width: 120px;
  height: 50px;
  border-radius: 15px;
  background-color: #0047AB;
  color: #FFFFFF;
  margin: 1%;
  border: none;
  font-size: 15px;
  transition: all 0.2s;
}

.btn:hover{
  background-color: #3279dd;
}

.btn:active{
  background-color: #5097fb;
}
